<section class="container text-center p-100">
	<h1 class="titles">Editar perfil</h1>

	<%= render 'form', profile: @profile %>

	<%= link_to 'Volver sin guardar cambios', @profile, class: "btn button-p03 titles m-tb-10" %>
</section>